<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--NOTE: This config file is no longer used. See Settings.json. You can manage most keys with the built-in interface -->
    
    <!--<add key="HyperspinPath" value="C:\Hyperspin"/>
    <add key="LauncherPath" value="C:\RocketLauncher\RocketLauncher.exe"/>

    

    <add key="Keys.Trigger.Search" value="F3,F1"/>
    <add key="Keys.Trigger.Favourites" value="F4"/>
    <add key="Keys.Trigger.Genre" value="F5"/>
    <add key="Keys.Trigger.Settings" value="F10"/>

    <add key="Keys.Action" value="Enter"/>
    <add key="Keys.Back" value="Back"/>
    <add key="Keys.Exit" value="Escape"/>
    <add key="Keys.Minimize" value="OemTilde"/>

    <add key="Keys.Up" value="W"/>
    <add key="Keys.Right" value="D"/>
    <add key="Keys.Down" value="S"/>
    <add key="Keys.Left" value="A"/>

    <add key="BalloonToolTipTimeOutInMilliseconds" value="0"/>
    <add key="KeyboardType" value="Qwerty"/>
    <add key="SearchMode" value="Contains"/>
    <add key="CabMode" value="false"/>
    <add key="HideMouseCursor" value="False"/>
    <add key="ShowSystemImagesOnFilter" value="true"/>
    <add key="ShowSystemImagesOnResults" value="true"/>
    <add key="ShowWheelImagesOnResults" value="true"/>
    <add key="EnableGameVideos" value="true"/>
    <add key="StandaloneMode" value="true"/>
    <add key="StandaloneWidth" value="1900"/>
    <add key="StandaloneHeight" value="900"/>
    <add key="SearchTriggerDelayInMilliseconds" value="0"/>
    <add key="FavouritesTriggerDelayInMilliseconds" value="0"/>
    <add key="GenreTriggerDelayInMilliseconds" value="0"/>
    <add key="GameVideoPopupTimeoutInMilliseconds" value="900"/>-->
    
    

    <!--BELOW STILL NEEDS TO BE ADDED TO Settings.json-->
    <!--
    ******************************************************************
    ******************************************************************
    ******************************************************************
    -->


    <!--AlternativeSystemWheelImagePath: If not specified, uses \Hyperspin\Media\Main Menu\Images\Wheel by default  -->
    <!--<add key="AlternativeSystemWheelImagePath" value="C:\SystemWheelImages"/>-->

    <!-- If not specified uses \Hyperspin\Media\[System]\Images\Wheel  -->
    <!-- If specified uses \Hyperspin\Media\[SystemName]\Images\[AlternativeGameWheelSourceFolder] -->
    <!--<add key="AlternativeGameWheelSourceFolder" value="HyperSearch"/>-->

    <!-- GenreWheelImageLocation(0...n)
        e.g.
          <add key="GenreWheelImageLocation0" value="C:\Hyperspin\Media\MAME\Images\Genre\Wheel"/>
          <add key="GenreWheelImageLocation1" value="C:\SomeMoreGenreWheelImages"/>
    -->
    
  </appSettings>
</configuration>
