<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--NOTE: This config file is no longer used. See Settings.json. You can manage most keys with the built-in interface -->
    
    <add key="HyperspinPath" value="C:\Hyperspin"/>
    <add key="LauncherPath" value="C:\RocketLauncher\RocketLauncher.exe"/>

    <!--******** Key Configuration ********-->

    <add key="Keys.Trigger.Search" value="F3,F1"/>
    <add key="Keys.Trigger.Favourites" value="F4"/>
    <add key="Keys.Trigger.Genre" value="F5"/>
    <add key="Keys.Trigger.Settings" value="F10"/>

    <add key="Keys.Action" value="Enter"/>
    <add key="Keys.Back" value="Back"/>
    <add key="Keys.Exit" value="Escape"/>
    <add key="Keys.Minimize" value="OemTilde"/>

    <add key="Keys.Up" value="W"/>
    <add key="Keys.Right" value="D"/>
    <add key="Keys.Down" value="S"/>
    <add key="Keys.Left" value="A"/>

    <!--******** End of Key Configuration ********-->
    


    <!-- Controls how long the system tray balloon tooltip persists for. Set to 0 to prevent from popping up at all -->
    <add key="BalloonToolTipTimeOutInMilliseconds" value="0"/>

    <!-- Valid values: AtoZ, Qwerty, Azerty -->
    <add key="KeyboardType" value="Qwerty"/>

    <!-- Valid values: Contains, StartsWith -->
    <add key="SearchMode" value="Contains"/>

    <!-- Set to false to allow normal keyboard input on the onscreen keyboard. -->
    <add key="CabMode" value="false"/>

    <!-- Set to true to hide mouse cursor -->
    <add key="HideMouseCursor" value="False"/>

    <!-- Setting these to false could have potential performance benefits -->
    <add key="ShowSystemImagesOnFilter" value="true"/>
    <add key="ShowSystemImagesOnResults" value="true"/>
    <add key="ShowWheelImagesOnResults" value="true"/>
    
    <!-- Set to true to enable a popup window with game video playback if available -->
    <add key="EnableGameVideos" value="true"/>

    
    <!-- Set to true if you wish to run HyperSearch without HyperSpin -->
    <add key="StandaloneMode" value="true"/>
    <add key="StandaloneWidth" value="1900"/>
    <add key="StandaloneHeight" value="900"/>



    <!--BELOW STILL NEEDS TO BE ADDED TO Settings.json-->
    <!--
    ******************************************************************
    ******************************************************************
    ******************************************************************
    -->

    <!-- Controls how long you have to hold down the trigger button before each type of window pops up. -->
    <add key="SearchTriggerDelayInMilliseconds" value="0"/>
    <add key="FavouritesTriggerDelayInMilliseconds" value="0"/>

    <add key="GenreTriggerDelayInMilliseconds" value="0"/>
    <add key="GameVideoPopupTimeoutInMilliseconds" value="900"/>



    <!--AlternativeSystemWheelImagePath: If not specified, uses \Hyperspin\Media\Main Menu\Images\Wheel by default  -->
    <!--<add key="AlternativeSystemWheelImagePath" value="C:\SystemWheelImages"/>-->

    <!-- If not specified uses \Hyperspin\Media\[System]\Images\Wheel  -->
    <!-- If specified uses \Hyperspin\Media\[SystemName]\Images\[AlternativeGameWheelSourceFolder] -->
    <!--<add key="AlternativeGameWheelSourceFolder" value="HyperSearch"/>-->

    <!-- GenreWheelImageLocation(0...n)
        e.g.
          <add key="GenreWheelImageLocation0" value="C:\Hyperspin\Media\MAME\Images\Genre\Wheel"/>
          <add key="GenreWheelImageLocation1" value="C:\SomeMoreGenreWheelImages"/>
    -->
    
  </appSettings>
</configuration>
