<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
 
     <!--STILL NEEDS TO BE ADDED TO Settings.json-->
    <!--
    ******************************************************************
    ******************************************************************
    ******************************************************************
    -->


    <!--AlternativeSystemWheelImagePath: If not specified, uses \Hyperspin\Media\Main Menu\Images\Wheel by default  -->
    <!--<add key="AlternativeSystemWheelImagePath" value="C:\SystemWheelImages"/>-->

    <!-- If not specified uses \Hyperspin\Media\[System]\Images\Wheel  -->
    <!-- If specified uses \Hyperspin\Media\[SystemName]\Images\[AlternativeGameWheelSourceFolder] -->
    <!--<add key="AlternativeGameWheelSourceFolder" value="HyperSearch"/>-->

    <!-- GenreWheelImageLocation(0...n)
        e.g.
          <add key="GenreWheelImageLocation0" value="C:\Hyperspin\Media\MAME\Images\Genre\Wheel"/>
          <add key="GenreWheelImageLocation1" value="C:\SomeMoreGenreWheelImages"/>
    -->
    
  </appSettings>
</configuration>
